@font-face {
  font-family: 'scdream-3';
  src: url('/assets/ttf/SCDream3.otf') format('truetype');
}

html {
  padding-left: calc(100vw - 100%);
}

body {
  font-family: 'scdream-3', "Poppins", sans-serif;
}

.badge {
  font-weight: 500;
}

.bg-light,
.badge-light {
  &,
  * {
    color: $text-black !important;
  }
}

.bg-dark,
.badge-dark {
  &,
  * {
    color: $text-white !important;
  }
}
